@font-face{
	font-family: 'Oxygen-Regular';
	src : url(Oxygen-Bold.ttf);
	src : url(Oxygen-Light.ttf);
	src : url(Oxygen-Regular.ttf);
}
body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen-Regular';
}
/*Header*/
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
div.navbar-header{
	width: 100%;
}
#logo-img{
	background: url('../images/pizza-logo.png') no-repeat;
	width: 170px;
	height: 150px;
	margin: 10px 15px 10px 0px; 
}
/*.responsove-image{
	width: 100%;
	background-size: 100% 100%;
}*/
div.navbar-brand{
	padding-top: 30px;
}
div#navbarNavDropdown{
	margin-top: 15px;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 2.8em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-left: 15px; 
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#nav-list{
	float: right;
	margin-top: 10px;
}
#nav-list a{
	color: #951C49;
	text-align: center;
	font-weight: 800;
}
#nav-list a:hover{
	background: #E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}
#phone{
	margin-top: 2px;
	padding-top: 0px;
}
#phone a{
	text-align: right;
	padding-top: 0px;
	padding-bottom: 0;
	font-size: 0.9em;
}
#phone div{
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}
.navbar-nav{
	margin-inline-start: auto;
	width: 100%;
}
.navbar-collapse{
	margin-block-end: auto;
	flex-grow: 1;
}
/*.mavbar-header button.navbar-toggler, .navbar-header .navbar-toggler-icon{
	border: 1px solid #61122f;
}*/

.jumbotron{
	margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
}


#menu-tile, #specials-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	margin-bottom: 30px;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
	background: url(../images/menu.jpg) no-repeat center center;
}
#specials-tile{
	background: url(../images/specials.jpg) no-repeat center center;
}
#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color:  #000;
	color: #fff;
	opacity: .8;
} 
#phone-num{
	background-color: #f6b319;
	border-radius: 5px;
	margin-top: 30px;
	width: 85%;
	height: 8vw;
	border: 2px solid #f2f2f2;
	text-align: center;
} 
#phone-num a {
    color: #951C49;
    text-align: center;
    font-weight: 800;
    font-size: 5vw;
}
footer.footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
#below-footer{
	background-color: #222;
	height: 120px;
	margin-top: -1px;
}
.page-footer div.row{
	margin-bottom: 35px;
}
#hours, #address{
	line-height: 2;
}
#hours>span, #address>span{
	font-size: 1.3em;
}
#address p{
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
/*Xl Devices*/
@media(min-width: 1200px){
	.jumbotron{
    background: url("../images/jumbotron-1200.jpg") no-repeat; 
    height: 720px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
	}
}
/*Large Devices*/
@media(min-width: 992px) and (max-width: 1199px){
	#logo-img{
	background: url('../images/pizza-m-logo.png') no-repeat center center;
	width: 120px;
	height: 100px;
	margin: 5px 10px 5px 0px; 
	}
	div.navbar-brand{
	padding-top: 20px;
	}
	div#navbarNavDropdown{
	margin-top: 8px;
	}
	.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 5vw;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-left: 15px; ;
	line-height: .75;
	}
	#nav-list a span{
	font-size: 1.5em;
	}
	#phone a{
	text-align: right;
	padding-bottom: 0;
	font-size: 0.8em;
	margin-top: 5px;
	}
	.jumbotron{
    background: url("../images/jumbotron-992.jpg") no-repeat; 
    height: 610px;
	}
}
/*Medium Devices*/
@media(min-width: 768px) and (max-width: 991px){
	#logo-img{
	background: url('../images/pizza-s-logo.png') no-repeat;
	width: 75px;
	height: 60px;
	margin: 10px 10px 5px 0px; 
	}
	div.navbar-brand{
	padding-top: 15px;
	}
	.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-left: 5px; 
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	}
	#nav-list a span{
	font-size: 1.5em;
	}
	a.nav-link{
		padding: inherit;
		margin-bottom: 2px;
		font-size: xx-large;
	}
	button.navbar-toggler{
	border: 2px solid #61122f;
	margin-top: 10px;
	font-size: 2rem;
	}
	div.navbar-header{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.navbar-nav{
	margin-inline-start: auto;
	}
	.jumbotron{
    background: url("../images/jumbotron-768.jpg") no-repeat; 
    height: 450px;
	}
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}
}
/*Small Devices*/
@media(min-width: 575px) and (max-width: 767px){
	#logo-img{
	background: url('../images/pizza-s-logo.png') no-repeat;
	width: 75px;
	height: 60px;
	margin: 10px 10px 5px 0px; 
	}
	div.navbar-brand{
	padding-top: 15px;
	}
	.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-left: 5px; 
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	}
	#nav-list a span{
	font-size: 1.5em;
	}
	a.nav-link{
		padding: inherit;
		margin-bottom: 2px;
		font-size: xx-large;
	}
	button.navbar-toggler{
	border: 2px solid #61122f;
	margin-top: 10px;
	font-size: 2rem;
	}
	div.navbar-header{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.jumbotron{
    background: url("../images/jumbotron-520.jpg") no-repeat; 
    height: 330px;
	}
	#menu-tile, #specials-tile{
	width: 343px;
    margin: 0 auto 30px;
	}
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}
}
/*XS Device*/
@media (max-width: 576px){
	#logo-img{
	background: url('../images/pizza-s-logo.png') no-repeat;
	width: 75px;
	height: 60px;
	margin: 10px 10px 5px 0px; 
	}
	div.navbar-brand{
	padding-top: 15px;
	}
	.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-left: 5px; 
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	}
	#nav-list a span{
	font-size: 1.5em;
	}
	a.nav-link{
		padding: inherit;
		margin-bottom: 2px;
		font-size: xx-large;
	}
	button.navbar-toggler{
	border: 2px solid #61122f;
	margin-top: 10px;
	font-size: 2rem;
	}
	div.navbar-header{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.jumbotron{
		padding: 0;
	}
	#menu-tile, #specials-tile{
	width: 343px;
    margin: 0 auto 30px;
	}
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}
}